*{
    font-family: "Outfit", sans-serif;
}

body{
    background-color: #f9f5ff;
    margin: 30px;
}

input[type="text"], input[type="password"]{
    height: 25px;
    border-radius: 5px;
    border: none;
    padding-left: 5px;
    margin: 5px;
    width: 200px;
    transition: 0.05s;
}

input[type="text"]:focus, input[type="password"]:focus{
    border: 2px solid #5f5492;
    outline: #5f5492;
}

input[type="submit"]{
    height: 40px;
    border-radius: 20px;
    border: 1px solid #5f5492;
    margin: 5px;
    background-color: #5f5492;
    width: 210px;
    color: white;
    font-size: 14px;
    transition: 0.5s;
}

input[type="submit"]:hover{
    width: 220px;
}

h1{
    color: #4d4864;
    font-size: 40px;    
    margin-top: 10px; 
}

form{
    inline-size: 230px;
    text-align: center;
    padding: 30px;
    border-radius: 15px;
    background-color: #998fc781;
    box-shadow: 1px 2px 3px 2px #61585f80;
    transition: 0.5s;
    margin: auto;
    margin-top: 15%;
}

form:hover{
    background-color: #998fc7c2;
    width: 250px;
}

.material-symbols-outlined{
    color: #4d4864;
}